<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.bendb.amanuensis.Trusty</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Trusty</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier "com.bendb.amanuensis.Amanuensis" and certificate leaf = H"984bc66b1c9f4db732791f07ed0d6ab6928cde1a"</string>
	</array>
</dict>
</plist>
